* {
    box-sizing: border-box;
}

body {
    color: white;
    background: lightskyblue;
    font-family: "Gochi Hand", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    height: 100vh;
}

/* Header styles */
header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

header h1 {
    width: 100%;
    margin: 0;
    font-size: 40px;
    margin-bottom: 20px;
}

header nav ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    /* padding-bottom: 20px; */
}

header nav ul li {
    /* width: 100%; */
    text-transform: uppercase;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

.content-wrapper,
.park-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#park-list {
    min-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#park-img {
    display: flex;
    flex-direction: column;
}

#selected-park {
    width: 90%;
    margin: auto;
    max-height: 90vh;
}

#park-img p {
    text-align: center;
}

.highlighted {
    color: navy;
    font-size: 30px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block {
    width: 400px;
    height: 400px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hike-title {
    font-size: 50px;
    margin: 0;
    margin-top: 10px;
}

.hike-location {
    margin: 0;
}

#mist {
    background-image: url("../hikes/img/mist.jpg");
    background-size: cover;
}

#hiddenlake {
    background: url("../hikes/img/hiddenlake.jpg");
    background-size: cover;
}

#avalanche {
    background: url("../hikes/img/avalanche.jpg");
    background-size: cover;
}

#narrows {
    background: url("../hikes/img/narrows.jpg");
    background-size: cover;
}

#center {
    display: none;
}

#moro {
    background: url("../hikes/img/moro.jpg");
    background-size: cover;
}

#kaibab {
    background: url("../hikes/img/kaibab.jpg");
    background-size: cover;
}

#kaibab h3 {
    color: darkgray;
}

#waterfall {
    background: url("../hikes/img/waterfall.jpg");
    background-size: cover;
}

#redwoods {
    background: url("../hikes/img/redwood.jpg");
    background-size: cover;
}

/******** Tablet Media Query ********/
@media only screen and (min-width: 768px) {
    header nav ul {
        display: flex;
        justify-content: space-between;
    }
}

/******** Desktop Media Query ********/
@media all and (min-width: 1200px) {
    header {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }

    header h1 {
        width: 40%;
        border-bottom: none;
    }

    header nav {
        width: 30%;
    }

    header nav ul {
        padding-right: 50px;
    }

    .park-wrapper {
        flex-direction: row;
    }

    #center {
        display: flex;
        font-size: 50px;
        justify-content: center;
    }

    #center p {
        margin: 0;
    }
}